html,
body {
  width: 100vw;
  height: 100vh;
  background: #FFF710;
  color: black;
  display: flex;
  justify-content: center;
  margin: 0px;
  font-family: "helvetica", "arial", sans-serif;
  font-size: 1.15em;
}

a {
  text-decoration: none;
 font-weight: 900;
  text-transform: uppercase;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#main {
  max-width: 1400px;
  width: 95%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.intro {
  order: 1;
  margin-left: 5vmin;
}
h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
}
h2 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3{
  font-weight: bold;
  font-variant: small-caps;
  margin-top: 0px;
  margin-bottom: 0px; 
}
.scrolling-div {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  order: 3;
}

.card {
  min-width: 40vmmin;
  min-height: 40vmin;
  color: black;
  flex: 1 1 auto;
  display: flex;
 margin: .5vmin;
  padding: 2vmin;
  box-sizing: border-box;
  overflow: auto;
 /* opacity: 0.9;
  border: black 2vmin solid;*/
}

.card:hover {
   border: black 1vmin solid;
  z-index: 4;
  transform: scale(1.1);
}

.card:checked {/* if I add radio buttons, but probably better to make these take over most of page with jquery*/
  z-index: 4;
  transform: scale(1.5);
}


.card--row--center {
  flex-direction: row;
  justicy-content: center;
  align-items: center;
}

.card--column--center {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card--column--top-center {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card--row--center-space {
  justify-content: space-around;
  flex-direction: row;
 align-items: center;
}

.card--column--top-left {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
  


.card--color1 {
  background: #2BADE5;
}
.card--color2 {
  background: #E6345B;
}
.card--color3 {
  background: #FA8716;
}
.card--color4{
  background: #8DD573;
}



.row-img {
  max-height: 80%;
  width: auto;
  display: block;
}

.column-img{
    max-width: 80%;
  height: auto;
  display: block;
}
#image {
  /* to work with flex grow max-height: 80%;
  width: auto;*/
  max-width: 75%;
  height: auto;
  display: block;
}


.caption {
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}


.caption--vertical-vcenter{
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
}


::-webkit-scrollbar {
  display: none;
}

#tribute-info {
  order: 2;
  margin-left: 5vmin;
}

@media (max-height: 500px)and (min-aspect-ratio: 5/3) {
  body, html{
     font-size: .8em;
  }
  #main {
    overflow: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: auto;
  }
  .intro {
    order: 2;
    margin-left: 0px;
    text-align: center;
  }
  h2 {
    font-weight: normal;
  }
  .scrolling-div {
    -webkit-scrolling: touch;
    width: 100%;
    height: 50vmin;
    justify-content: flex-start;
    padding: 2vmin;
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: auto;  */
    overflow: auto;
    padding: 2vmin;
    order: 1;
  }
  .tribute-info {
    order: 3;
    margin-left: 0px;
  }
  p{
      font-size: 1.5em;
  }
  .card {
    flex: 0 0 auto;

    min-width: 50vmin;
    width: auto;
    height:50vmin;/*50vmin;*/
    color: black;
    display: flex;
    margin: 2vmin;
  }
  .caption{
    display: none;
  }
}

@media (max-aspect-ratio: 2/1) {
  .card {
    width: 50vmin;
    height: auto;
  }
}

@media (min-width: 900px) and (min-aspect-ratio: 1/5) {
  #main {
   /* background: black;*/
    position: relative;
  }

  .card {
    width: 40vmin;
    height: 40vmin;
  }
}
