/* it was suggestedhere: https://medium.com/@GarrettLevine/5-projects-to-complete-when-starting-to-learn-front-end-web-development-48e8a1ce3178
to build this: http://www.free-css.com/free-css-templates/page196/conquer as a beginners project. I'm creating this with what I know and then maybe updating as I learn better techniques. The colours were once inspired by my yoga mat. BREAKS ARE IMPORTANT.*/
/*$width-700:
$width-550:*/
body {
  background: black;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0;
  font-family: "helvetica", "arial", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  /*display: flex;//adding flex screws with the height of content
  flex-direction: row;
  justify-content: center;*/
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

nav {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 100px;
  top: 0;
  position: fixed;
  z-index: 2;
  color: #9f88d8;
  background: #080928;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 1000px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
  padding: 20px 30px;
  border: 1px #9f88d8 solid;
  font-size: 24px;
  font-weight: bold;
}

nav a:last-child {
  margin-right: 0px;
}

nav a:hover,
nav a:active {
  background: #29308a;
}

.hamburger,
.hamburger--short {
  display: none;
  position: fixed;
  right: 20px;
  background: #8750a1;
  color: #080928;
  border-radius: 10%;
  font-size: 30px;
  font-weight: bold;
  padding: 2px 10px 4px 10px;
  z-index: 5;
}

.hamburger {
  top: 10px;
}

.hamburger--short {
  bottom: 10px;
}

#about {
  position: absolute;
  top: -150px;
}

#contact {
  position: absolute;
  top: -100px;
}

#services {
  position: absolute;
  top: -20px;
}

/*p{
  text-align: center;
}*/
.content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  top: 0px;
  background: none;
}

.card button {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: #29308a;
  padding: 20px;
  border-radius: 5%;
  border: none;
  -webkit-transition: background 0.5s;
  /* Safari */
  transition: background 0.5s;
  width: auto;
  height: auto;
}

.card button:hover {
  background: #8750a1;
}

.button--full-width,
.full-width button {
  font-size: 24px;
  font-weight: bold;
  color: #29308a;
  background: #c39bd0;
  padding: 20px;
  border-radius: 5%;
  border: none;
  -webkit-transition: background 0.5s;
  /* Safari */
  transition: background 0.5s;
  width: auto;
  height: auto;
}

.button--full-width:hover,
.full-width button:hover {
  background: #ffffff;
}

.full-width {
  position: relative;
  width: 100%;
  max-width: 1400px;
  min-height: 500px;
  padding: 0;
  left: 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.bg-image {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.full-width:last-child {
  margin-bottom: 0px;
}

.full-width p {
  width: 770px;
  text-align: center;
}

#home {
  width: 100%;
  min-height: 500px;
  position: relative;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  background-size: cover;
  max-width: 1400px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

ul {
  text-align: left;
}

p {
  line-height: 1.5em;
}

.card {
  position: relative;
  background: #c39bd0;
  /*  display: flex;
  flex-direction: column;*/
  margin: 0 15px;
  margin-bottom: 30px;
}
.card .image {
  width: 100%;
  height: auto;
}

#home,
.full-width {
  color: white;
}

.card a,
.full-width a {
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
}

.card a:hover,
.full-width a:hover {
  text-decoration: double underline;
}

.text-container {
  color: black;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  overflow: auto;
  marin-top: 0;
}

.cols-1 {
  width: 1170px;
}
.cols-1 .text-container {
  text-align: left;
}

.cols-2 {
  width: 570px;
}
.cols-2 h2,
.cols-2 p {
  text-align: left;
}
.cols-2 button {
  float: right;
}

.cols-3 {
  width: 370px;
}
.cols-3 h2 {
  text-align: left;
}

.cols-4 {
  width: 270px;
}
.cols-4 .text-container {
  text-align: center;
}
.cols-4 p {
  text-align: left;
}

.form {
  width: 840px;
  position: relative;
}

.fields {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.column {
  margin: 0;
  width: 48%;
}

input,
textarea,
.explanation {
  background: white;
  color: black;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.25em;
  font-family: "helvetica", "arial", sans-serif;
}

input,
textarea {
  padding: 5px 15px;
}

.explanation {
  background: white;
  color: black;
  padding: 15px 30px;
  line-height: 1.5em;
  text-align: center;
}

input {
  height: 40px;
}

textarea {
  height: 200px;
}

.side--right,
.side--left {
  display: none;
}

@media (max-height: 400px) {
  #home {
    width: 100%;
    height: 300px;
    position: relative;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    max-width: 1400px;
    padding-top: 100px;
    justify-content: flex-start;
    overflow: hidden;
  }

  .content {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -250px;
    background: none;
  }

  /*   #service{
  position: absolute;
  top: -20px;
}*/
  /* #contact{
    position: absolute;
  top: -100px; 
  }*/
  .parallax-window {
    height: 300px;
    background: transparent;
  }

  .hamburger--short {
    display: block;
  }

  .navigation {
    opacity: 0;
    -webkit-transition: opacity 1.5s;
    /* Safari */
    transition: opacity 1.5s;
  }

  .navigation--open {
    opacity: 1;
    -webkit-transition: opacity 1.5s;
    /* Safari */
    transition: opacity 1.5s;
  }
}
@media (min-width: 1400px) {
  .side--left {
    display: inline-block;
    position: fixed;
    left: 0vw;
    top: 540px;
    z-index: -1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .side--right {
    display: inline-block;
    position: fixed;
    right: 0vw;
    top: 540px;
    z-index: -1;
  }
}
@media (max-width: 1200px) {
  nav a {
    font-size: 20px;
  }

  .cols-1 {
    width: 970px;
  }

  .cols-2 {
    width: 470px;
    text-align: center;
  }
  .cols-2 button {
    float: none;
  }

  .cols-3 {
    width: 303.3333333333px;
  }

  .cols-4 {
    width: 220px;
  }
}
@media (max-width: 1050px) {
  .menu {
    width: 800px -300;
  }

  nav a {
    margin-right: 10px;
    font-weight: regular;
  }

  nav a:last-child {
    margin-right: 0px;
  }

  .cols-1 {
    width: 770px;
  }

  .cols-2 {
    width: 370px;
  }

  .cols-3 {
    width: 236.6666666667px;
  }

  .cols-4 {
    width: 300px;
    margin: 0 50px;
    margin-top: 30px;
  }
}
@media (max-width: 840px) and (min-height: 400px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: block;
    overflow: hidden;
    height: 0px;
    width: 100%;
    padding: 0 20px 0 20px;
    position: absolute;
    top: 70px;
    -webkit-transition: height 2s;
    /* Safari */
    transition: height 2s;
  }

  nav {
    background: none;
    width: 100%;
    top: 0px;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    padding: 20px 30px;
    border: none;
    background: #080928;
    box-sizing: border-box;
  }

  nav :not(:last-child) {
    border-bottom: 0.25px #9f88d8 solid;
  }

  .menu--open {
    display: block;
    height: 500px;
    position: absolute;
    top: 70px;
    left: 0;
    box-sizing: border-box;
    z-index: 5;
    -webkit-transition: height 2s;
    /* Safari */
    transition: height 2s;
  }
}
@media (max-width: 840px) and (max-height: 400px) {
  .menu {
    width: 770px -300;
  }

  nav a {
    margin-right: 2vw;
    padding: 2vh 2vw;
    font-size: 3vw;
    font-weight: regular;
  }

  nav a:last-child {
    margin-right: 0px;
  }

  #contact {
    position: absolute;
    top: -100px;
  }
}
@media (max-width: 840px) {
  .cols-1 {
    width: 98%;
  }
  .cols-1 button {
    float: none;
  }

  .cols-2 {
    width: 770px;
    /* .image{
      height: 240px;
    }*/
  }
  .cols-2 h2,
  .cols-2 p {
    text-align: center;
  }

  .cols-3 {
    width: 510px;
    text-align: center;
    /* .image{
      height: 180px;
    }*/
  }
  .cols-3 h2 {
    text-align: center;
  }

  .r4 {
    justify-content: space-around;
  }

  .cols-4 {
    width: 285px;
    margin-left: 0;
    margin-right: 0;
  }

  .full-width p {
    width: 90%;
    text-align: center;
  }

  .form {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
  }

  .column {
    width: 100%;
  }

  .column:first-child {
    background: none;
  }

  /* #services, #contact{
    position: absolute;
  top: 0px;
}
  #about,{
    position: absolute;
  top: -50px; 
  }*/
}
@media (max-width: 650px) {
  .cols-2 {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .cols-4 {
    width: 45%;
  }
}
@media (max-width: 450px) {
  /* everything is one per row
  cols-1 is still wider
  using percentages + margins
  }*/
  .cols-1,
  .cols-2 {
    width: 95%;
  }

  .cols-3 {
    width: 86%;
  }

  .cols-4 {
    width: 80%;
  }
}
