html,
body {
  width: 100vw;
  height: 100vh;
  background: #fff710;
  color: black;
  display: flex;
  justify-content: center;
  margin: 0px;
  font-family: "helvetica", "arial", sans-serif;
  /*font-size: 1.15em;*/
}

a {
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#main {
  max-width: 1400px;
  width: 95%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.intro {
  order: 1;
  margin-left: 5vmin;
}
h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
}
h2 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
  font-weight: bold;
  font-variant: small-caps;
  margin-top: 0px;
  margin-bottom: 0px;
}
  p {
    font-size: 1.5em;
  }
.scrolling-div {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  order: 3;
}

.card {
  min-width: 40vmmin;
  min-height: 40vmin;
  color: black;
  flex: 1 1 auto;
  display: flex;
  margin: 0.5vmin;
  padding: 2vmin;
  box-sizing: border-box;
  overflow: auto;
}

.card:hover {
  border: black 1vmin solid;
  z-index: 4;
  transform: scale(1.1);
}

.card--row--center {
  flex-direction: row;
  justicy-content: center;
  align-items: center;
}

.card--column--center {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card--column--top-center {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card--row--center-space {
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.card--text {
  padding: 3vmin;
 display: flex;
justify-content: center;
  
}
.card--text__wrapper{
  max-width: 400px;
}

.card--color1 {
  background: #2bade5;
}
.card--color2 {
  background: #e6345b;
}
.card--color3 {
  background: #fa8716;
}
.card--color4 {
  background: #8dd573;
}

.row-img {
  max-height: 80%;
  width: auto;
  max-width: 100%;
  display: block;
}

.column-img {
  max-width: 80%;
  height: auto;
  max-height: 100%;
  display: block;
}
#image {
  /* to work with flex grow max-height: 80%;
  width: auto;*/
  max-width: 75%;
  height: auto;
  display: block;
}

.caption {
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

.caption--vertical-vcenter {
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

::-webkit-scrollbar {
  display: none;
}

#tribute-info {
  order: 2;
  margin-left: 5vmin;
}


@media (min-height: 250px) and (max-height: 500px) and (min-aspect-ratio: 5/3) {
  body,
  html {
    font-size: 0.8em;
  }
  #main {
    overflow: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: auto;
  }
  .intro {
    order: 2;
    margin-left: 0px;
    text-align: center;
  }
  h2 {
    font-weight: normal;
  }
  .scrolling-div {
    -webkit-scrolling: touch;
    width: 100%;
    height: 50vmin;
    justify-content: flex-start;
    padding: 2vmin;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 2vmin;
    order: 1;
  }
  .tribute-info {
    order: 3;
    margin-left: 0px;
  }

  .card {
    flex: 0 0 auto;
    min-width: 50vmin;
    width: auto;
    height: 50vmin;
    color: black;
    display: flex;
    margin: 2vmin;
  }
  .caption {
    display: none;
  }
}

@media (max-aspect-ratio: 2/1) and (min-height:250px) {
  .card {
    width: 50vmin;
    height: auto;
  }
/*  .card--text + img{
  max-width: 50%;
}*/
}

@media (min-width: 900px) and (min-aspect-ratio: 1/5) {
  #main {
    position: relative;
  }

  .card {
    width: 40vmin;
    height: 40vmin;
  }
}

@media(max-height:249px){
  .scrolling-div{
  width: auto;
  height: auto;
    padding: 2vw;
  }
  .card{
  width: auto;
  height: 95vh;
  }
.column-img {
  max-height: 80%;
  width: auto;
}
  #image {
  max-width: auto;
  height: 75%;
}
  #main {
    overflow: auto;
  }
}
@media(max-width: 249px){

  .row-img {
  max-width: 90%;
  height: auto;
}

}